<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnStr" connectionString="server = .; database = QLKhachSan; Integrated security = true;" />
    <add name="KhachSan.Properties.Settings.QLKhachSanConnectionString"
      connectionString="Data Source=.;Initial Catalog=QLKhachSan;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>